@use "./variables.scss" as *;

// put your custom CSS here!

.callout[data-callout="tip"] .callout-icon,
.callout[data-callout="important"] .callout-icon {
  display: none;
}

.callout[data-callout="tip"],
.callout[data-callout="important"] {
  --color: var(--dark);
  --border: var(--lightgray);
  --bg: var(--lightgray);
}
